rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. Rule for usernames (Allows checking & registering usernames)
    match /usernames/{username} {
      allow read, write: if true;
    }
    
    // 2. Rule for users collection (Syncing profiles)
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // 3. Rule for orders collection (Secure checkouts & get details allowed)
    match /orders/{orderId} {
      allow create: if true;
      allow get: if true;

      // Allow listing to let the checkout page count documents for sequential order IDs
      allow list: if true;
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['Hash_TXID', 'orderViewed']);
      allow delete: if false;
    }

    // 4. Rule for reviews collection (Public read, authenticated write)
    match /reviews/{reviewId} {
      allow read: if true;
      allow create: if true;
      allow update: if false;
      allow delete: if false;
    }

    // 5. Rule for visitor collection (Online visitor tracking)
    match /visitor/{visitorId} {
      allow read, write: if true;
    }
  }
}
